# IntelliJ IDEA
.idea/*

*.iml
*.ipr
*.iws
classes/


# Gradle
.gradle/
build/
bin/

#ant and other
local.properties
.DS_Store
*~
*.swp

src/main/res/values/com_crashlytics_export_strings.xml

.phraseapp.yml

captures/
debug.properties